* {
    margin: 800;
    padding: 0;
    
}

body{
   
  font-size: 24px;
  text-decoration-color: whitesmoke;

    list-style-type: none;
    background-color: black;
    color:whitesmoke; 
}


p{
    font: 24px/30px courier, serif;
    color:whitesmoke; 
        
}


u1{
    font: 24px/30px courier, serif;
    color:whitesmoke; 
    
}


#wrap { 
    
	width: 900px; 
	margin: 0 auto; 
}

ul {
  list-style-type: none;
}

.wrapper {
    margin-top: 400px; 
    margin: 0 auto;
    width: 2000px;
}

.img-black { 
    width: 700px;} 
    
    
a:hover, a:visited, a:link, a:active {

    text-decoration: none;
    color: whitesmoke; 

    ;
}

}